Assets/Scripts/Javascript/Scenes/Loader.js
Assets/Scripts/Javascript/Game/Variables.js

Assets/Scripts/Javascript/Game/Variables.js

Assets/Scripts/Javascript/Game/Variables.js

Assets/Scripts/Javascript/Game/Variables.js
